.container {
    padding: 24px 0;
}

.otus_table {
    width: 100%;
    border-collapse: collapse;
}

.otus_th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.otus_td {
    border: 1px solid #ddd;
    padding: 8px;
}